h1 {
  margin-top: 20px;
}

.card.purchase {
  height: 200px;
  margin-bottom: 10px;
}

.inactive {
  text-decoration: line-through;
  color: red;
}

.total {
  color: #AAAAAA;
  font-size: smaller;
}

.canceled-bg {
  background-color: #EEEEEE;
}
